<div id="user-<%= current_user.id %>" data-id="" class="quiz_form_wrap">
 <div class="quiz_form_header">
   <h1 class="brand">Create your own survey!</h1>
 </div> <!-- end .quiz_form_header -->
 <div class="quiz_form_body">
   <%= form_with model: @quiz, class: "quiz_form", local: true do |f| %>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <div class="form-row">
     <div class="col">
       <%= f.label :name, "Survey Name", class: "label oswald" %>
       <%= f.text_field :name, placeholder: "Survey Name", class: "form-control", autofocus: true %>
     </div> <!-- end .col -->
     <div class="col">
       <%= f.label :subject, "Subject", class: "label oswald" %>
       <%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
     </div> <!-- end .col -->
   </div> <!-- end .col -->
   <div class="question_section">
     <%= f.fields_for :questions do |q| %>
     <div class="question">
     	 <div class="form-row">
	       <div class="col">
	         <%= q.label :content, "Question 1", class: "label oswald" %>
	         <%= q.text_field :content, placeholder: "Type your question here...", class: "form-control question_field" %>
	       </div> <!-- end .col -->
       </div>
       <div class="answer_section">
         <%= q.fields_for :answers do |a| %>
         <div class="form-row">
           <div class="col">
             <%= a.label :content, "Answer", class: "label oswald" %>
             <%= a.text_field :content, placeholder: "Answer here...", class: "form-control answer_field" %>
           </div> <!-- end .col -->
         </div> <!-- end .col -->
         <% end %>
       </div> <!-- end .col -->
       <button type="button" class="btn add_answer_field oswald">+ Add Answer Field</button>
     </div> <!-- end .col -->
     <% end %>
   </div> <!-- end .col -->
   <%= f.submit "Create", class: "btn float-right quiz_form_submit_button oswald" %>
   <% end %>
   <button type="button" class="btn add_question_field oswald">+ Add Question Field</button>
 </div> <!-- end .col -->
</div> <!-- end .user-:id -->