<div class="container">
	<div class="quiz_form_wrap">
		<div class="quiz_form_header">
			<h1 class="brand">Create your own quiz!</h1>
		</div>
		<div class="quiz_form_body">
			<%= form_with url: quizzes_path do |f| %>
			
			  <div class="form-row">
			    <div class="col">
			    	<%= f.label :name, "Quiz Name", class: "oswald" %>
			      <%= f.text_field :name, placeholder: "Quiz Name", class: "form-control", autofocus: true %>
			    </div>
			    <div class="col">
			    	<%= f.label :subject, "Subject", class: "oswald" %>
						<%= f.text_field :subject, placeholder: "Subject", class: "form-control" %>
			    </div>
			  </div>

			  <%= fields_for(:question, @question) do |question_fields| %>
			  <div class="form-row">
			    <div class="col">
			    	<%= question_fields.label :question, "Question", class: "oswald" %>
			      <%= question_fields.text_field :question, placeholder: "Type your question here...", class: "form-control" %>
			    </div>
			  </div>
			  <% end %>
			  <div class="form-row">
			  <%= fields_for(:answer, @answer) do |answer_fields| %>
			    <div class="col">
			    	<%= answer_fields.label :answer, "Answer 1", class: "oswald" %>
			      <%= answer_fields.text_field :answer, placeholder: "Answer 1", class: "form-control" %>
			    </div>
			 	<% end %>
			  <%= fields_for(:answer, @answer) do |answer_fields| %>
			    <div class="col">
			    	<%= answer_fields.label :answer, "Answer 2", class: "oswald" %>
			      <%= answer_fields.text_field :answer, placeholder: "Answer 2", class: "form-control" %>
			    </div>
			 	<% end %>
			 	</div>
			  <%= f.submit "Create", class: "btn float-right quiz_form_submit_button oswald" %>
			<% end %>
		</div>
	</div>
</div>